restClient/WebContent/wsdl/GetOrderInfoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.idss.kt" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GetOrderInfoService" targetNamespace="http://service.idss.kt">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://vo.ws.neoss.service.idss.kt" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.ws.neoss.service.idss.kt">
  <xsd:complexType name="RepOrderInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="strCmpInAncDt" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strOrdChangdesc" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strOrdRcpDt" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strOrdTrtDesc" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strOrdTrtStatDesc" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strProgrOrdYn" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strResltCd" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strResltMsg" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReqBasic">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="strProdTypeCd" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strScn" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.idss.kt" xmlns:ns0="http://vo.ws.neoss.service.idss.kt" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://service.idss.kt">
  <xsd:import namespace="http://vo.ws.neoss.service.idss.kt"/>
  <xsd:element name="getOrderInfo" type="tns:getOrderInfo"/>
  <xsd:complexType name="getOrderInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:ReqBasic"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getOrderInfoResponse" type="tns:getOrderInfoResponse"/>
  <xsd:complexType name="getOrderInfoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:RepOrderInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getOrderInfo">
    <wsdl:part element="tns:getOrderInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderInfoResponse">
    <wsdl:part element="tns:getOrderInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetOrderInfoServicePortType">
    <wsdl:operation name="getOrderInfo">
      <wsdl:input message="tns:getOrderInfo" name="getOrderInfo">
    </wsdl:input>
      <wsdl:output message="tns:getOrderInfoResponse" name="getOrderInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetOrderInfoServiceSoapBinding" type="tns:GetOrderInfoServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOrderInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrderInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrderInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetOrderInfoService">
    <wsdl:port binding="tns:GetOrderInfoServiceSoapBinding" name="GetOrderInfoServicePort">
      <soap:address location="http://192.168.10.4:8700/idssws/services/GetOrderInfo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>